<!doctype html>
<html lang="en">
<head>
    <title>Список проекторов</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/common.css">
    <link rel="stylesheet" href="../../static/css/expositions.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="header-smart col-xs-12">
            <h1>Smart museum</h1>
        </div>
    </div>
    <div class="row" role="main">
        <div class="col-xs-12 col-md-12">
            <ul class="nav nav-tabs">
                <li><a href="#"><span class="glyphicon glyphicon-home"></span> Главная</a></li>
                <li class="active"><a href="/expositions"><span class="glyphicon glyphicon-th"></span> Экспозиции</a>
                </li>
                <li><a href="/videos"><span class="glyphicon glyphicon-film"></span> Видео</a></li>
                <li><a href="/projector/all"><span class="glyphicon glyphicon-blackboard"></span> Проекторы</a></li>
                <li><a href="/admin/users/"><span class="glyphicon glyphicon-list-alt"></span> Пользователи</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> <b>Личный кабинет</b></a></li>
            </ul>
        </div>
        <div class="page-header col-md-12 col-xs-12">
            <div class="col-md-11 col-xs-11">
                <h2><b>Список проекторов по экспозиции №1</b></h2>
            </div>
            <div class="col-md-1 col-xs-1">
                <div class="btn-group">
                    <button type="button" class="btn btn-default">
                        Назад
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-10 col-md-offset-1">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action">Проектор 1</a>
                <a href="#" class="list-group-item list-group-item-action">Проектор 2</a>
                <a href="#" class="list-group-item list-group-item-action">Проектор 3</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>